<h2 class="mx-5 my-2">Datos del perfil</h2>
<h3> Nombre: {{Nombre}} </h3>
<h3> Email: {{Email}} </h3>
<h3> Dirección: {{Direccion}} </h3>
<h3> Edad: {{Edad}} </h3>
<h3> Teléfono: {{Telefono}} </h3>
<h3> Foto/Avatar: {{Foto}} </h3>

<br />
<a class="btn btn-primary mb-2" href="/carritos">Carrito de Compras</a>
<br />
{{! peticion de tipo get a la ruta logout }}
<a class="btn btn-primary mb-2" href="/auth/logout">Cerrar sesion</a>
{{> scripts}}